body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* tela preta */
  padding: 20px;
  color: white; /* texto branco para contrastar */
}

h1 {
  text-align: center;
  color: #ff8533; /* ou outra cor */
  font-size: 28px; /* ajuste conforme o seu gosto */
}

#como-usar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  padding: 10px 100px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #222222; /* preto mais claro para o quadrado */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #555; /* sombra mais suave */
}

#opcoes button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333333; /* escuro neutro para os botões de opção */
  color: white; /* texto branco */
  transition: background-color 0.3s ease;
}

#opcoes button:hover {
  background-color: #444444; /* um pouco mais claro no hover */
}

#opcoes button.correta {
  background-color: #4caf50; /* laranja claro para resposta correta */
}

#opcoes button.errada {
  background-color: #f44336; /* laranja mais escuro para errada */
}

#proxima {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff8533; /* laranja para o botão de próxima */
  color: white;
  transition: background-color 0.3s ease;
}

#proxima:hover {
  background-color: #ff9c66; /* laranja mais claro no hover */
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 20px;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.05);
}
